<!doctype html>
<div class="flash-messages">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h5>Message</h5>
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    </ul>
</div>
<div id="project-list">
  <h2> Project List </h2>
  <ul>
  {%- for item in current_projects %}
      <li><a href="projects/{{ item }}/report/index.html#">{{ item }}</a></li>
  {%- endfor %}
  </ul>
</div>
<div id="links">
    <h2> Admin Links </h2>
    <li><a href="/new_project">Create a new project</a></li>
    <li><a href="/build_report">Build Report</a></li>
    <li><a href="/upload_file">JSON Result Uploader</a></li>
    <li><a href="/projects/">Project File Explorer</a></li>
    <li><a href="/delete_project">Delete Project</a></li>
</div>

<div class="return-home">
  <a href="/">Home</a>
</div>
