# Example Environment Settings. Some override settings.py but useful to have an
# env file so you can use these in bash commands.
export PROJECT_ID=sf-qa-reports
export ZONE=us-west2-b
export _ENV=test
export FLASK_SECRET=fake-secret
export SSH_KEY='ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDBUYDd1ryZnB1AwDffk8zt1wOuaW5r+UrnnXtXcIRk8pDS9yXL1BVUuDX5UFM6rgfFQQfnAa7G9qMxEZGfsqdxDhH7izohRYJJn2UD4Tm4lBrPMpUj2LiOhrHg8+WkzRHbKiyMsr07md9Qxg7Tziuo1wpT7YarlWcNi6Ij9M39mW6i4YVhfCCW7703ubqvDdWHehN4bE9wCrk+dflPJQFded6GdzrwmDWNtLSMIWHw8/BHrSYTVyIDl7h4X3ViFXBn/l2742/AA3r9lv9L3xzi//3FaAtvyhswzNj8/oFSQQNfP6k336ZKM2YO4u6C7UyKPCTV+KgQFhWBbhZW/xo40V2utlzCpov+HB6uhEEs7vYT13iWmQpreZlDMcAXuE57UkQNW+BuDcDwCQ+iz5O/+iRGkpovr880551sATTlqtREkf/8J6AGCBLeTgWisbhqjk5sDVMW6feqEWgjHwXFrqEIb0LxSARKI7xJOw0SwIWkZazCgnskEasB5s3z940= jeff@qa-allure-reports'
